body{
    background-color: aliceblue;
    display:flex;
    justify-content:end;
    align-items:center;
    min-height: 100vh;
    background-color: aliceblue;
    width: 95%;
    overflow: hidden;
    background-image:url(HHH.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

    #bottone1 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 10px;
        border-radius:5px;
        background: #68869A;
        border: none;
        font-family: inherit;
        text-align: center;
        cursor: pointer;
        transform: translate(300%, -225px);
        transition: 0.4s;

       }
      
       #bottone1:hover {
        box-shadow: 7px 5px 56px -1px #000000;
       }
       
       #bottone1:active {
        transform: scale(0.97);
        box-shadow: 7px 5px 56px -10px #030303;
    
       }
       html, body {
  height:100%;
}

a:link,
a:visited {
  color: rgba(255, 255, 255, 0.85);
}

a:hover {
  color: white;
  text-decoration: none;
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 10%;
  width: 400%;
  background: rgba(0, 140, 149, 0.65);
  padding: 0.4rem;
  font-family: "Open Sans", sans-serif;
}
.login h2 {
    font: size 2em;
    color: #030303;
    width: 150%;
}
.loader {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background:rgba(0, 100%, 95%, 1);
    background: linear-gradient(90deg,rgba(0, 100%, 95%, 1) 1%,rgba(27, 100%, 85%, 1) 99%);
    background: -moz-linear-gradient(90deg,rgba(0, 100%, 95%, 1) 1%, rgba(27, 100%, 85%, 1) 99%);
    background: -webkit-linear-gradient(90deg,rgba(0, 100%, 95%, 1) 1%, rgba(27, 100%, 85%, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffe3e3", endColorstr="#FFD5B2", GradientType=1 );
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: rotate 0.0s infinite linear;
  }
 
  
  @keyframes rotate {
    100% {
      transform: rotate(0turn);
    }
  }