/* تاقات مربع البحث */
.group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 450px;
  padding: 20 30%;
  display: flex;
  justify-content: right;
  background-attachment: fixed;
  transform: translateX(3%);
  text-align: right;
 }
 
 .input {
  padding: 3px 30px;
  margin: 10px;
  width: 100%;
  height: 40px;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #0d0c22;
  transition: .3s ease;
  padding: 0 5%;
  display: flex;
  justify-content: right;
  background-attachment: fixed;
  text-align: right;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: -1rem;
  fill: #9e9ea7;
  width: 130%;
  height: 1rem;
 
 }
/* */
/* لون الخلفية */
 body{
  background-color: aliceblue;
}
/* */
/* headerتنسيقات ال  */
.nav1{
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 999;
  background-color: #f3f4f6;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  width: 95%;
  list-style: none;
}
.nav1 .logo h4{
  color: #424144;
  border-bottom: 4px solid #68869A;
}

.nav1 .ul1 li{
  
  display: inline-block;
}
.nav1 .ul1 li a{
  display: block;
  margin-left: 30px;
  color: #424144;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav1 .ul1 li .active{
  border-bottom: 4px solid #68869A;
}

.nav1 .ul1 li a i{
  color: #68869A;
}

.nav1 .ul1 li a:hover{
  border-bottom: 4px solid #68869A;
}

/* الخلفية الي ورا الازرار*/
.form {
  background: #b6c1c967;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  font-weight: 800;
  width: 1200px;
  height: 430px;
  padding: 20px;
  position:absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;

}
/* لون الازرار */
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  align-items: center;
  background: #FFFFFF;
  width: 100%;
  width: 400px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transform: translate(85%, 50%);
  z-index: 2;
  height: 100px;
  max-width: 450px;
  justify-content: center;
  text-align: center;

}

/* تنسيقات الازرار*/

.button2 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.890rem;
  font-weight: 1000;
  transform: translateX(26%);
  line-height: 1.25rem;
  width: 45rem;
  height: 30px;
  padding: .75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

}

.button2::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
border-radius: .5rem;
background-color: #FFFFFF;
z-index: -1;
}

.button2::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:#FFFFFF ; 
border-radius: .5rem;
z-index: -1;
transition: all .3s ease-in;
}

.button2:hover::after {
background-color: #b6bdc9;
box-shadow: 0 0 0 5px #cad3e05f;
}

.button2-border {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: .5rem;
z-index: -1;
}

.button2-border::before {
content: "";
position: absolute;
border-radius: .5rem;
padding: 1px;
inset: 0;
background-color: #FFFFFF; 
pointer-events: none;
}

.button1 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.890rem;
  font-weight: 1000;
  transform: translateX(26%);
  line-height: 1.25rem;
  width: 45rem;
  height: 30px;
  padding: .75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;


}

.button1::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
border-radius: .5rem;
background-color: #FFFFFF;
z-index: -1;
}

.button1::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:#FFFFFF ; 
border-radius: .5rem;
z-index: -1;
transition: all .3s ease-in;
}

.button1:hover::after {
background-color: #b6bdc9;
box-shadow: 0 0 0 5px #cad3e05f;
}

.button1-border {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: .5rem;
z-index: -1;
}

.button1-border::before {
content: "";
position: absolute;
border-radius: .5rem;
padding: 1px;
inset: 0;
background-color: #FFFFFF; 
pointer-events: none;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.890rem;
  font-weight: 1000;
  transform: translateX(26%);
  line-height: 1.25rem;
  width: 45rem;
  height: 30px;
  padding: .75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;


}

.button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
border-radius: .5rem;
background-color: #FFFFFF;
z-index: -1;

}

.button::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:#FFFFFF ; 
border-radius: .5rem;
z-index: -1;
transition: all .3s ease-in;
}

.button:hover::after {
background-color: #b6bdc9;
box-shadow: 0 0 0 5px #cad3e05f;
}

/**/

.img1{
  margin-right:90%;
  margin-top: -9%;
}
