/*كود الخلفية*/
body{
    background-image: url(A.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*اكواد شريط التنقل*/

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 100px;
    color: #ffffff;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid #ffffff;
}

.navbar .menu li a i{
    color: #ffffff;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid #ffffff;
}

#a4{
    margin-top: 30;
    transform: translateX(1100%);
}

/*اكواد البطاقات*/

.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
    color: #1aa2cc86;
}

.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.products .card{
    width: 700px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: -20px;
    height: 400px;
    transform: translate(27%, 10%);
    box-shadow: 0 5px 25px rgb(1, 1, 1);
}

.products .card .title{
    font-weight: 900;
    font-size: 15px;
    color: #2980b9;
    padding: 0 20px;
    transform: translate(37%, 180%);
    font-size: 25px;
    font-weight: bold;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .btn{
    font-size: 20px;
    color: #004badd3;
    padding: 10px 70px;
    font-weight: 500;
    border: 1px solid #004badd3;
    border-radius: 20px;
    transform: translate(30%, 570%);
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #004badd3;
    color: white;
}

/*تنسيقات مربع الاختيار*/
  
.input1 {
    width: 200px;
    height: 30px;
    margin-top: 100;
    transform: translateX(1%);
    padding: 12px;
    border: 2px solid #3498db;
    border-radius: 8px;
    outline: none;
    font-size: 24px;
    margin-top: -0% ;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
  }
  
  .input1:placeholder-shown{
    text-align: right;
  }
  
  .input1:focus {
    border-color: #2980b9;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
  }
  
  /* Placeholder Styling */
  .input1::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  /* Hover Effect */
  .input1:hover {
    background-color: #f0f8ff;
  }
  
  .input2 {
    width: 200px;
    height: 30px;
    padding: 12px;
    transform: translatey(100%);
    transform: translateX(1%);
    margin-top: -5;
    border: 2px solid #3498db;
    border-radius: 8px;
    outline: none;
    font-size: 24px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
  }
  
  .input2:placeholder-shown{
    text-align: right;
  }
  
  .input2:focus {
    border-color: #2980b9;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
  }
  
  /* Placeholder Styling */
  .input2::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  /* Hover Effect */
  .input2:hover {
    background-color: #f0f8ff;
  }

  #in1{
    margin-top: -230px;
    margin-left: 350px;
    width: 500px;
    height: 60px;
  }

  #in2{
    margin-top: -170px;
    margin-left: 350px;
    width: 500px;
    height: 60px;
  }