@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/*كود الخلفية*/
body{
    background-image: url("../imges/A.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*اكواد شريط التنقل*/

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 100px;
    color: #ffffff;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid #ffffff;
}

.navbar .menu li a i{
    color: #ffffff;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid #ffffff;
}

#a4{
    margin-top: 30;
    transform: translateX(1100%);
}

/* Terminal Window */
.terminal {
    width: 800px;
    height: 400px;
    background-color: #000;
    color: rgb(88, 193, 219);
    font-family: "Courier New", Courier, monospace;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-left: 230;
    margin-top: 80;
    font-size: 30;
  }
  
  /* Terminal Header */
  .terminal-header {
    background-color: #333;
    padding: 5px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .buttons {
    display: flex;
    margin-right: 15px;
  }
  
  .buttons span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .close {
    background-color: #ff605c;
  }
  .minimize {
    background-color: #ffbd44;
  }
  .maximize {
    background-color: #00ca4e;
  }
  
  .title {
    flex-grow: 1;
    text-align: right;
  }
  
  /* Terminal Body */
  .terminal-body {
    padding: 10px;
    text-align: center;
  }
  
  .terminal-loader {
    display: inline-flex;
    align-items: center;
  }
  
  .loader-text {
    margin-right: 5px;
    margin-top: 60px;
    font-size: 30px;
  }
  
  .dot {
    opacity: 0;
    animation: dotFadeInOut 1.5s infinite;
  }
  
  @keyframes dotFadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  #dot1 {
    animation-delay: 0.5s;
  }
  
  #dot2 {
    animation-delay: 0.6s;
  }
  
  #dot3 {
    animation-delay: 0.7s;
  }
  