/*كود الخلفية*/
body{
    background-image: url(A.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*اكواد شريط التنقل*/

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 100px;
    color: #ffffff;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid #ffffff;
}

.navbar .menu li a i{
    color: #ffffff;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid #ffffff;
}

#a4{
    margin-top: 30;
    transform: translateX(1100%);
}

/*اكواد البطاقات*/

.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
    color: #1aa2cc86;
}

.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.products .card{
    width: 250px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 250px;
    transform: translate(9%, 30.5%);
    transition: 0.7s ease;
    box-shadow: 0 5px 25px rgb(1, 1, 1);
}

.card:hover{
    transform: scale(-1,1);
}

.products .card .title{
    font-weight: 900;
    font-size: 15px;
    color: #2980b9;
    transform: translate(15%, 180%);
    font-size: 25px;
    font-weight: bold;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .btn{
    width: 50px;
    font-size: 20px;
    color: #1aa2cc86;
    padding: 10px 70px;
    font-weight: 500;
    border: 1px solid #1aa2cc86;
    border-radius: 20px;
    transform: translate(13%, 240%);
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #1aa2cc86;
    color: white;
}

#card1{
    margin-top: 20px;
    margin-left: 35px;
}

#card2{
    margin-top: 20px;
    margin-left: 35px;
}

#card3{
    margin-top: 20px;
    margin-left: 35px;
}

.button {
	border-radius: 20px;
	border: 1px solid #2980b9;
	background-color: #ffffff;
	color: #2980b9;
	font-size: 30px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    transform: translateY(35%);
    transform: translateX(50%);
}

.button:hover{
    cursor: pointer;
    border-color: #2980b9;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
}

.button:focus {
	outline: none;
}

.button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#bt1{
    transform: translate(8%, 80%);
    font-size: large;
}

#bt2{
    transform: translate(25%, 80%);
    font-size: large;
}

#bt3{
    transform: translate(25%, 80%);
    font-size: large;
}

#tit1{
    transform: translate(30%, 400%);
}

#tit2{
    transform: translate(40%, 400%);
}

#tit3{
    transform: translate(40%, 400%);
}